@media screen and (max-width: 991px) {
    .container-xxl {
        padding: 0; 
    }
.first-screen {
    margin-bottom: 55px;
}

.first-screen-slider .slick-slide {
    border-radius: 0;
}
.container {
    padding-right: 20px;
    padding-left: 20px;

    .form {
        margin-left: auto;
        margin-right: auto;
    }
}

a.navbar-brand {
    width: 126px;

    img {
        max-width: 100%;
        height: auto;
        padding-bottom: 18px;
        padding-top: 3px;
    }
}

header .navbar {
    padding-top: 15px;
    padding-bottom: 0;
}

header .btn {
    padding: 23px 85px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.navbar-collapse {
    background: #363a4d;
    box-shadow: 14px 22px 40px 0px rgba(30, 35, 66, 0.28);
    margin-left: -20px;
    margin-right: -20px;
}

.nav-link {
    font-size: 24px;
    line-height: 212%;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}

.navbar-nav {
    padding: 37px 0 22px;
}

.first-screen-slider .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;

    .mb-first-screen {
        margin-bottom: 72px;
    }
}

.first-screen-slider .slick-slide {
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    background-position: center;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        background: rgba(0, 0, 0, 0.0549019608);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.first-screen-slider .first-screen-title {
    font-size: 32px;
    margin-bottom: 10px;
    width: 290px;
}

.first-screen-slider .first-screen-subtitle {
    font-size: 16px;
    margin-bottom: 18px;
    width: 270px;
}   

.man-decoration {
    display: none;
}

.form {
    width: 335px;
    height: auto;
    padding: 50px 30px 16px 30px;
}
.pos-checkbox {
    padding-top: 9px;
    margin-bottom: 6px;

}

.btn-lg {
    padding: 19.4px 34px;
    font-size: 16px;
    
}

.calculation-title.col-lg-7 h2 {
    font-size: 24px;
    line-height: 124.5%;
    text-transform: uppercase;
    margin-bottom: 6px;
    text-align: center;

    &:after {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

.container-adv {

    .title-adv h2 {
        padding-top: 55px;
        font-size: 24px;
    }

    .advantage-title {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        max-width: 180px;
        margin: 0 auto;
        line-height: 124.5%;
    }
}

.advantages {
    &.container-xxl {
        padding-bottom: 60px;
    }

}

}