.advanteges{
    padding: 87px 40px 63px;
    position: relative;

        .width{
            padding-top: 174px;
                padding-bottom: 228px;
        }
}

.advantages {
    .container-xxl {
        max-width: 1820px;
        background-color: #363a4d;
        }
}
.container-adv{
        max-width: 1170px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 76px;
        padding-top: 90px;
}
.advantages-slider {
    padding-bottom: 40px;
}
.container-adv .template-title:after {
    background-color: #e58d35;
}
.container-adv .template-title h2 {
    // height: 45px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.5%;
    // padding-left: 84px;
    /* 44.82px */
    text-transform: uppercase;

                &:after {  
                    
                }

}




.advantage {
    text-align: center;
    margin-bottom: 48px;

        &-img-box{
                width: 113px;
                height: 113px;
                border: 1px solid #6c7188;
                border-radius: 50%;
                padding: 10px;
                margin: 0 auto 22px;

                    &hover{
                        border: 1px solid #e58d35;
                    }

                    img{
                            background: #89c249;
                            width: 100%;
                            height: auto;
                            border-radius: 50%;
                            object-fit: scale-down;
                    }


        }

        &-title{
            font-size: 18px;
                font-weight: 400;
                max-width: 160px;
                margin: 0 auto;
            }
        }




